<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.schoolMapper">
  <!-- 查询所有学校信息 -->
  <select id="findAll" resultType="com.briup.app02.bean.school">
    select * from poll_school
  </select>
  <!-- 通过id查询学校信息 -->
  <select id="findById" parameterType="long" resultType="com.briup.app02.bean.school">
    select * from poll_school where id = #{id}
  </select>
  <!-- 保存学校信息 -->
  <insert id="save" >
  	insert into poll_school values(#{id},#{school.name},#{school.description},
  		#{school.address},#{school.telephone},#{school.copyright})
  </insert>
  <!-- 修改学校信息 -->
    <update id="update">
  	update poll_school 
  	set id = #{school.id},name = #{school.name},description = #{school.description},address = #{school.address},
  		telephone = #{school.telephone},copyright = #{school.copyright}
  	where id = #{id}
  </update>
  <!-- 删除学校信息 -->
  <delete id="deleteById" parameterType = "long">
  	delete from poll_school
  	where id = #{id}
  </delete>
</mapper>